:root {
	--dark-blue: #0084fd;
	--light-blue: #b5ddff;
	--lilac: #9792e4;
	--dark: #333333;
	--gold: #fdc15f;
}



/* RESET */


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
    display: block;
}

a {
	text-decoration: none;
	color: currentColor;
}

button {
	border: none;
	background-color: transparent;
}

menu,
ul,
ol {
	list-style: none;
}

body {
	font-family: 'Open Sans';
}

/* LAYOUT */

.container-lg{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 12px;
}

.container-sm{
    max-width: 950px;
    margin: 0 auto;
    padding: 0 12px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
}

.row > *{
    padding: 0 12px;
}


/* Layout desktop version */

@media (min-width: 1200px) {


    .container-sm{
        max-width: 950px;
    }


    .container-lg{
        max-width: 1200px;
    }

}    


/* HEADER */


.section-header{
    background-color: #0084FD;
    color: white;
}


.row-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.list-header{
    display: none;
}

.row-header .col:last-child{
    display: flex;
    align-items: center;
}


.hamburger-icon{
    padding-right: 20px;
}



.button{
    padding: 10px 15px;
    border-radius: 999px;
}

.button-white{
    background-color: white;
}

    /* Desktop version */


    @media (min-width: 1200px) {

        .list-header{
            display: flex;
            align-items: center;
            gap: 10px;
        }
    
        .hamburger-icon{
            display: none;
        }
            
    }

/* END HEADER */


/* HERO */

.hero{
    padding: 50px 0;
}


.col-12{
    width: calc(12 * 100% /12);
}

.feature-card{
    background-color: var(--light-blue);
    border-radius: 20px;
}



.card .card-header img{
    width: 300px;
    margin: 0 auto;
}

.card-title{
    color: var(--dark-blue);
    font-size: 36px;
}


.feature-card .card-body{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px 20px;
    align-items: center;
    text-align: center;

}


.feature-card.card-horizontal .card-body{
    text-align: left;
    align-items: flex-start;
}

.feature-card.card-horizontal{
    display: flex;
    flex-wrap: wrap;
}



.feature-card .card-header{
    align-self: flex-end;
}


[class^='col-'] > .card{
    height: 100%;
}


.button-blue{
    background-color: var(--dark-blue);
    color: white;
    padding: 15px 35px;
    font-size: 20px;
}

.card-body p{
    font-size: 24px;
}



.feature-card .card-body .icon{
    color: var(--dark-blue);
    font-size: 80px;
}




    /* Tablet version */


@media (min-width: 768px) {

    .col-md-8{
        width: calc(8 * 100% /12);
    }

    .col-md-4{
        width: calc(4 * 100% /12);
    }
   
    .card .card-header img{
        margin: 0;
    }

    .card-body p{
        line-height: 1.75em;
    }


}

    /* Desktop version */

@media (min-width: 1200px){

    .feature-card.card-horizontal .card-body,
    .feature-card.card-horizontal .card-header {
        width: 50%;

    }

    .card .card-header img{
        margin: 0 auto;
    }


    .card-title{
        font-size: 30px;
    }

    }


/* END HERO */



/* STRATEGIC SECTION */


.strategic-section{
    background-color: var(--lilac);
}

.strategic-section .container-sm .row{
    padding: 40px 0;
}


/* Strategic card */

.card.strategic-card img{
    margin-bottom: 70px;
}


.card.strategic-card h2{
    color: white;
    font-size: 54px;
    margin-bottom: 40px;
}


.card.strategic-card p{
    color: white;
    font-size: 20px;
    line-height: 1.75em;
}


/* Development card */

.card.strategic-card.development-card img{
    margin: 0 auto 70px;    
  
}

.card.strategic-card.development-card h2{
    color: black;
    font-size: 54px;
    margin-bottom: 40px;
    text-align: center;
}


.card.strategic-card.development-card p{
    color: black;
    font-size: 20px;
    line-height: 1.75em;
    text-align: center;
  
}


.card.strategic-card.development-card a{
    display: block;
    width: 50px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: var(--lilac);
    padding: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 50%;
    
  
}

.development-card{
    background-color: white;
    border-radius: 40px;
    padding: 40px;
}


/* tablet version */

@media (min-width:768px) {

    .strategic-section .container-sm .row{
        padding: 80px 0;
    }
    
    

}

/* Desktop version */

@media (min-width:1200px) {

    .col-lg-6{
        width: calc(6 * 100% /12);
    }

    .card.strategic-card.development-card{
        height: auto;
    }


    .card.strategic-card.development-card img{
        margin: 0 auto;  
        width: 70%;  
      
    } 

    .card.strategic-card h2{
        font-size: 36px;
    }

    .card.strategic-card.development-card p{
        font-size: 20px;
        line-height: 1.50em;
        text-align: center;
        margin-bottom: 20px;
      
    }

    .card.strategic-card.development-card a{
        margin: 0 auto;    
      
    }

    .card.strategic-card.development-card h2{
        margin-top: 10px;
        font-size: 36px;
    }


    .col-12.col-lg-6.flex__container{
        display: flex;
        align-items: flex-end;
    }


    .pd-sides{
        padding: 0 24px;
    }
    
}

/* END STRATEGIC SECTION */


/* TESTIMONIAL SECTION */

    /* Testimonials header */

.testimonials-section .container-lg{
    padding: 40px 40px;

}

.testimonials-section .container-lg .testimonials-header h1{
    color: var(--lilac);
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
}

.testimonials-section .container-lg  h3{
    text-align: center;
    font-size: 24px;
    padding-bottom: 30px;
}




.testimonials-section .container-lg p{
    text-align: center;
    font-size: 24px;
    line-height: 1.85em;
    padding-bottom: 40px;
    margin-top: 30px;
}


    /* Testimonials body */

.partner{
    background-color: var(--lilac);
    border-radius: 40px;
    padding: 20px;
    margin-bottom: 40px;
}

.testimonials-body{
    color: white;
}


.testimonials-body .partner img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
}



/* Tablet version */

@media (min-width:768px) {

    .testimonials-body .partner img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        margin: 0 0;
    }
    
    .testimonials-body .partner{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }




    .testimonials-section .container-lg .testimonials-body p{
        text-align: left;
        font-size: 20px;
        line-height: 1.75em;
        padding-bottom: 40px;
        margin-top: 30px;
        padding-left: 20px;
    }



    .testimonials-section .container-lg .testimonials-body h3{
        text-align: left;
        font-size: 24px;
        padding-bottom: 30px;
        padding-left: 20px;
    }
}


/* Desktop version */

@media (min-width:1200px) {

    .col-lg-3{
        width: calc(3 * 100% /12);
    }

    .col-lg-9{
        width: calc(9 * 100% /12);
    }


}


/* END TESTIMONIAL SECTION */



/* BENEFITS SECTION */

.benefits-section{
    background-color: var(--lilac);
    color: white;
}

.benefits-section-title{
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 80px;
}

.benefits-card{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 40px;
}

.benefits-section .container-lg{
    padding-top: 40px;
    padding-bottom: 80px;
}

.benefits-card-number,
.benefits-card-title {
    color: var(--lilac);
    margin-bottom: 20px;
}

.benefits-card-number{
    font-size: 50px;
}

.benefits-card-title{
    font-size: 30px;
}


.benefits-card-paragraph{
    font-size: 30px;
    line-height: 2em;
    margin-bottom: 30px;
}

.button-lilac{
    background-color: var(--lilac);
    padding: 15px 60px;
    color: white;
    font-weight: 700;
    font-size: 20px;
}


    /* Tablet version */

@media (min-width:768px){

    .col-md-6{
        width: calc(6 * 100% / 12);
    }


    .benefits-card-paragraph{
        font-size: 20px;
        line-height: 1.75em;
        margin-bottom: 30px;
    }
}

    
    /* Desktop version */

@media (min-width:1200px){

    .col-lg-4{
        width: calc(4 * 100% / 12);
    }

}   


/* END BENEFITS SECTION */



/* ABOUT US SECTION */

.about-us-section .container-lg{
    padding: 40px 20px;
}

.about-us-title{
    color: var(--lilac);
    font-size: 50px;
    margin-bottom: 30px;
}

.about-us-paragraph{
    font-size: 25px;
    line-height: 1.85em;
    margin-bottom: 30px;
}



.about-us-img-container{
    position: relative;
    width: 250px;
    margin-bottom: 30px;
    
}

.about-us-img{
    border-radius: 50%;
    width: 100%;
    
}


.about-us-icon{
    color: var(--lilac);
    font-size: 80px;
    position: absolute;
    top: 0;
    right: 0;
    
}


.about-us-sub-paragraph{
    font-size: 40px;
    line-height: 1.75em;
    margin-bottom: 20px;
    color: var(--lilac);
    font-weight: 700;

}

.about-us-button{
    background-color: var(--lilac);
    color: white;

}


    /* Tablet version */

@media (min-width:768px){

    .col-md-7{
        width: calc(7 * 100% /12);
        padding: 0 20px;
    }

    .col-md-5{
        width: calc(5 * 100% /12);
        padding: 0 20px;
    }


    .about-us-sub-paragraph{
        line-height: 1.5em;
        
    
    }

}    


    /* Desktop version */

@media (min-width:1200px){

    .col-lg-9{
        width: calc(9 * 100% /12);
        padding: 0 20px;
    }

    .col-lg-3{
        width: calc(3 * 100% /12);
        padding: 0 20px;
    }


    .about-us-sub-paragraph{
        font-size: 30px;
        line-height: 1.5em;
        
    }


    .about-us-paragraph{
        font-size: 35px;
        line-height: 1.5em;
        margin-bottom: 30px;
    }
    

}  


/* END ABOUT US SECTION */



/* GET STARTED SECTION */


.get-started-section{
    background-color: var(--lilac);
    color: white;
    padding: 40px;
}

.get-started-section .container-sm{
    text-align: center;
}

.get-started-section .container-sm h2{
    font-size: 36px;
    padding-top: 10px;
    margin-bottom: 30px;
}

.get-started-section .container-sm h1{
    color: var(--gold);
    font-size: 50px;
    margin-bottom: 20px;
}    


.get-started-section .container-sm p{
    font-size: 20px;
    line-height: 1.5em;
    padding: 0 40px;
    margin-bottom: 30px;
    text-align: center;
}

.get-started-button{
    background-color: white;
    color: var(--lilac);
    padding: 15px 40px;
    margin-bottom: 30px;
}


    /* Tablet version */


@media (min-width:768px){

    .get-started-section .container-sm p{
        padding: 0 60px;
       
    }


    .get-started-section .container-sm h2{
        font-size: 42px;
    }


}


    /* Desktop version */


@media (min-width:1200px){

    .get-started-section .container-sm p{
        padding: 0 120px;
       
    }


    .get-started-section .container-sm h2{
        font-size: 56px;
    }


}


/* END GET STARTED SECTION */



/* FOOTER */


footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}


footer .container-sm p:first-child{
    font-size: 20px;
    margin-bottom: 80px;
}

footer .container-sm p a{
    color: var(--lilac);
}


    /* Tablet verison */


@media (min-width:768px){

    footer .container-sm p:first-child{
        padding: 0 60px;
           
    }
    
}    



    /* Desktop version */

@media (min-width:1200px){

    footer .container-sm p:first-child{
        padding: 0 120px;
           
    }
    
}    


/* END FOOTER */