:root {
	--dark-blue: #0084fd;
	--light-blue: #b5ddff;
	--lilac: #9792e4;
	--dark: #333333;
	--gold: #fdc15f;
}



/* RESET */


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
    display: block;
}

a {
	text-decoration: none;
	color: currentColor;
}

button {
	border: none;
	background-color: transparent;
}

menu,
ul,
ol {
	list-style: none;
}

body {
	font-family: 'Open Sans';
}

/* LAYOUT */

.container-lg{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 12px;
}

.container-sm{
    max-width: 950px;
    margin: 0 auto;
    padding: 0 12px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
}

.row > *{
    padding: 0 12px;
}



@media (min-width: 1200px) {


    .container-sm{
        max-width: 950px;
    }


    .container-lg{
        max-width: 1200px;
    }

}    


/* HEADER */


.section-header{
    background-color: #0084FD;
    color: white;
}


.row-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.list-header{
    display: none;
}

.row-header .col:last-child{
    display: flex;
    align-items: center;
}


.hamburger-icon{
    padding-right: 20px;
}



.button{
    padding: 10px 15px;
    border-radius: 999px;
}

.button-white{
    background-color: white;
}

    /* Desktop version */


    @media (min-width: 1200px) {

        .list-header{
            display: flex;
            align-items: center;
            gap: 10px;
        }
    
        .hamburger-icon{
            display: none;
        }
            
    }



/* HERO */

.hero{
    padding: 50px 0;
}


.col-12{
    width: calc(12 * 100% /12);
}

.feature-card{
    background-color: var(--light-blue);
    border-radius: 20px;
}



.card .card-header img{
    width: 300px;
    margin: 0 auto;
}

.card-title{
    color: var(--dark-blue);
    font-size: 36px;
}


.feature-card .card-body{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px 20px;
    align-items: center;
    text-align: center;

}


.feature-card.card-horizontal .card-body{
    text-align: left;
    align-items: flex-start;
}

.feature-card.card-horizontal{
    display: flex;
    flex-wrap: wrap;
}



.feature-card .card-header{
    align-self: flex-end;
}

[class^='col-'] > .card{
    height: 100%;
}


.button-blue{
    background-color: var(--dark-blue);
    color: white;
    padding: 15px 35px;
    font-size: 20px;
}

.card-body p{
    font-size: 24px;
}

    /* Tablet version */


@media (min-width: 768px) {

    .col-md-8{
        width: calc(8 * 100% /12);
    }

    .col-md-4{
        width: calc(4 * 100% /12);
    }
   
    .card .card-header img{
        margin: 0;
    }


}

    /* Desktop version */

@media (min-width: 1200px){

    .feature-card.card-horizontal .card-body,
    .feature-card.card-horizontal .card-header {
        width: 50%;

    }

    .card .card-header img{
        margin: 0 auto;
    }

    }






















/* DEBUG */

